Repository colemanw/webform_civicrm, pull requests merged in 2021-07, with the labels that each got.

#575 D8/9 - Allow existing relationships to expire on webform submission.
  src/AdminHelp.php
  src/WebformCivicrmBase.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContactRelationshipTest.php
Labels: 8.x/9.x, has test

#569 D8/9 - Fix form defaults on multi-step forms
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ContributionDummyTest.php
Labels: 8.x/9.x, has test, needs work

#316 Error IPN redirect after upgrade to 7.x-5.0
  includes/wf_crm_webform_postprocess.inc
  webform_civicrm.module
Labels: 7.x

#580 D8/9 - Do not save setting data before confirmation
  src/AdminForm.php
  src/Form/WebformCiviCRMSettingsForm.php
  tests/src/FunctionalJavascript/SaveSettingsTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#582 Update outdated link to Webform CiviCRM documentation
  src/AdminHelp.php
Labels: 8.x/9.x, bug

#583 Changed "Additional Options" tab into "Additional Settings"
  src/AdminForm.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/ContributionDummyTest.php
Labels: 8.x/9.x, user interface

#566 Only perform validation on state/province field when it is set
  includes/wf_crm_webform_postprocess.inc
Labels: 7.x

#588 D8/9 - Fix fatal error when no option is selected for radio
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
Labels: 8.x/9.x, bug, has test

#586 D8/9 - Fix display of contribution custom fields as per financial type selected
  src/AdminForm.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#581 D8/9 - Ensure default value is not overwritten with contact load via ajax
  js/webform_civicrm_contact.js
  js/webform_civicrm_forms.js
  src/ContactComponent.php
  src/WebformCivicrmBase.php
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#590 D8/9 - Convert arrays to use short array syntax in .module file
  webform_civicrm.install
  webform_civicrm.module
Labels: 8.x/9.x
