Repository colemanw/webform_civicrm, pull requests merged in 2021-03, with the labels that each got.

#493 Fix add element error on webform
  src/Plugin/WebformElement/CivicrmOptions.php
Labels: 8.x/9.x

#494 Fix fatal error on contact element removal
  src/AdminForm.php
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x

#495 Fix layout issues with claro theme
  js/contact_component.js
  js/webform_civicrm_admin.js
  js/webform_civicrm_contact.js
  src/AdminForm.php
  src/Plugin/WebformElement/CivicrmContact.php
Labels: 8.x/9.x

#496 Display option labels on submission page
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
  webform_civicrm.module
Labels: 8.x/9.x, has test

#498 [Test only] - Add Functionality to the Tags Testing.
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, has test

#499 Do not load civicrm elements on the Add element form
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  webform_civicrm.module
Labels: 8.x/9.x, has test

#500 [Test + Help text only] - Minor Edits
  src/AdminHelp.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x, has test

#497 Up CiviCRM versions.
  .github/workflows/main.yml
Labels: 8.x/9.x

#502 D8/9 - Unticked checkboxes are submitted to civicrm.
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
Labels: 8.x/9.x, has test

#503 [Test only] - Remove unused variable; small tidy-ups/comments.
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
Labels: 8.x/9.x, has test

#504 Fix submit button placement.
  js/webform_civicrm_payment.js
Labels: 8.x/9.x, bug

#506 Membership select fixes
  src/Fields.php
  src/Utils.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x, has test

#501 Do not update Drupal email address.
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x, bug, needs port

#507 D8/9 Save multi-valued custom fields through webform
  src/AdminForm.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/MultiCustomFieldsSubmissionTest.php
Labels: 8.x/9.x, has test

#512 Add Element CivicrmOptions - spaceholder- b/c Webform seems to be expecting it
  src/Element/CivicrmOptions.php
Labels: 8.x/9.x, bug

#514 d8/9 - Fix multivalue custom field submission
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x

#510 [Test only] - Add test to secure Static - Current User functionality.
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
Labels: 8.x/9.x, has test

#515 D8/9 - Fix activity error and add test for multiple assignees
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ActivitySubmissionTest.php
Labels: 8.x/9.x, bug, has test

#513 Do not override already existing default_value with default_option.
  .github/workflows/main.yml
  src/Plugin/WebformElement/CivicrmOptions.php
  src/Plugin/WebformElement/CivicrmSelect.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#511 D8/9 Existing case not updated when contact is filled via autocomplete widget
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/CaseSubmissionTest.php
  tests/src/FunctionalJavascript/CiviCrmTestBase.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#516 Grab latest public ESR.
  .github/workflows/main.yml
Labels: 8.x/9.x

#518 D8/9 - Remove unused civicrm_select plugin
  src/Element/CivicrmSelect.php
  src/Plugin/WebformElement/CivicrmSelect.php
Labels: 8.x/9.x

#508 Backport of 507.
  includes/wf_crm_webform_postprocess.inc
Labels: 7.x, bug, port

#519 D8/9 - Fix the submission of multiple contact reference custom fields
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/CaseSubmissionTest.php
  tests/src/FunctionalJavascript/MultiCustomFieldsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug

#520 D7 - Fix the submission of multiple contact reference custom fields
  includes/wf_crm_webform_postprocess.inc
Labels: 7.x, bug

#521 D8/9 - Use drupal 8 datetime widget for civi datetime fields
  src/Fields.php
  src/WebformCivicrmPostProcess.php
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ActivitySubmissionTest.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  webform_civicrm.install
  webform_civicrm.module
Labels: 8.x/9.x, has test
