Repository colemanw/webform_civicrm, pull requests merged in 2021-02, with the labels that each got.

#455 Fix checkbox errors on webform
  src/AdminForm.php
  src/Element/CivicrmSelectOptions.php
  src/Plugin/WebformElement/CivicrmOptions.php
  src/Plugin/WebformElement/CivicrmSelect.php
  src/WebformCivicrmBase.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#454 Fix select widget for contact element
  js/webform_civicrm_contact.js
  src/ContactComponent.php
  src/Plugin/WebformElement/CivicrmContact.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#457 [Test only] - Expanding CustomField Testing + ToDo: Test Static Options
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#459 Fix for adding/removing Tags (checkboxes) - Includes Test
  src/WebformCivicrmBase.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, has test

#461 Fix labels for Line Items.
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x, bug

#462 Fix the usage of invalid placeholder `!`.
  src/AdminForm.php
  src/ContactComponent.php
  src/WebformCivicrmPostProcess.php
  webform_civicrm.module
Labels: 8.x/9.x

#463 [Test only] - to see if we can remove/clear a Tag and Save the Submission
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, has test

#464 Fix Notice: Array to string conversion in saveData()
  src/Plugin/WebformElement/CivicrmOptions.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, bug

#467 Fix loading of options for civicrm_option plugin.
  src/Plugin/WebformElement/CivicrmOptions.php
  src/Plugin/WebformElement/CivicrmSelect.php
Labels: 8.x/9.x, bug, needs test

#466 Fix default relationship for existing contact element
  js/webform_civicrm_contact.js
  src/ContactComponent.php
  src/Plugin/WebformElement/CivicrmContact.php
  src/WebformCivicrmBase.php
  tests/src/FunctionalJavascript/ContactRelationshipTest.php
Labels: 8.x/9.x, has test

#468 Fixes fatal error when clearing a Tag belong to a TagSet using multiple checkboxes.
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x, bug

#469 Lock in versions
  .github/workflows/main.yml
  composer.json
  webform_civicrm.info.yml
Labels: 8.x/9.x

#471 d8 port of #180- Use the payment processor payment method instead of the default c…
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContributionIatsTest.php
Labels: 8.x/9.x, ported

#474 Fix Notice.
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x, bug

#475 Relationship type - User Select - fix
  src/Element/CivicrmSelectOptions.php
  src/Plugin/WebformElement/CivicrmOptions.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContactRelationshipTest.php
  tests/src/FunctionalJavascript/ContactRelationshipTestAdd.php
Labels: 8.x/9.x, has test

#476 d8 - Fix check for form_key
  src/Plugin/WebformElement/CivicrmOptions.php
  src/Plugin/WebformElement/CivicrmSelect.php
Labels: 8.x/9.x

#478 Fix static option display and assert form key error on submit.
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
Labels: 8.x/9.x

#479 [Test only] - Standardize Themes -> Bartik + Seven.
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#480 [Test only] - Now that we are able to get to Static Options - test changing the Label.
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
Labels: 8.x/9.x, has test

#483 Upping CiviCRM versions.
  .github/workflows/main.yml
Labels: 8.x/9.x, has test

#481 [Test only] - Change to use rootUser because we are making the Tags checkboxes.
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, has test

#486 [Test Only] Add Event test
  tests/src/FunctionalJavascript/EventTest.php
Labels: 8.x/9.x, has test

#485 [Test Only] Add test for Contact Autocomplete widget
  tests/src/FunctionalJavascript/ActivitySubmissionTest.php
  tests/src/FunctionalJavascript/ContactDedupeTest.php
  tests/src/FunctionalJavascript/ContactRelationshipTest.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#484 Fix live option handling for civicrm_options element
  js/webform_civicrm_options.js
  src/AdminForm.php
  src/Fields.php
  src/Plugin/WebformElement/CivicrmOptions.php
  src/WebformCivicrmBase.php
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#487 Do not render civicrm_option element as listbox by default
  src/AdminForm.php
  src/Fields.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, has test

#488 Convert arrays to use short array syntax
  src/AdminForm.php
  src/AdminHelp.php
  src/ContactComponent.php
  src/ContactComponentInterface.php
  src/FieldOptions.php
  src/Fields.php
  src/Plugin/WebformElement/CivicrmContact.php
  src/Utils.php
  src/UtilsInterface.php
  src/WebformAjax.php
  src/WebformCivicrmBase.php
  src/WebformCivicrmPostProcess.php
  src/WebformCivicrmPreProcess.php
Labels: 8.x/9.x

#489 Fix checksum text on additional option tab
  src/AdminForm.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
Labels: 8.x/9.x, has test

#491 Show Case Option to file activity On Case
  src/AdminForm.php
Labels: 8.x/9.x, bug

#492 Remove webform requirement 6.0 from yml file.
  webform_civicrm.info.yml
Labels: 8.x/9.x, bug

#490 Load default option for civicrm-option element
  src/Element/CivicrmSelectOptions.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test
