Repository colemanw/webform_civicrm, pull requests merged in 2021-04, with the labels that each got.

#517 Fix Notices in Recurring section.
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x, bug, has test

#522 [ToDo: revert this PR] - Commenting out iATS Test for now
  tests/src/FunctionalJavascript/ContributionIatsTest.php
Labels: 8.x/9.x, needs test

#523 Add Element CivicrmContact - spaceholder- b/c Webform seems to be expecting it
  src/Element/CivicrmContact.php
Labels: 8.x/9.x, bug

#524 D8/9 - Add test for Stripe payment + tidy up iATS test
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContributionIatsTest.php
  tests/src/FunctionalJavascript/StripeTest.php
Labels: 8.x/9.x, has test

#525 D8/9 Allow type to be updated on civicrm_options element
  src/Plugin/WebformElement/CivicrmOptions.php
  src/WebformCivicrmBase.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
  webform_civicrm.module
Labels: 8.x/9.x, has test

#431 Set title of list of lineitems to 'Payment Information' to use frontend title for contribution pages
  includes/wf_crm_webform_preprocess.inc
Labels: 7.x

#526 [Test only] - AddiATS1stpaytest
  tests/src/FunctionalJavascript/ContributionIatsTest.php
  webform_civicrm.module
Labels: 8.x/9.x, has test

#528 [Test only] - Checking Line Items when submitting amount > $1k
  tests/src/FunctionalJavascript/ContributionDummyTest.php
Labels: 8.x/9.x, has test

#532 D8/9 Fix fatal error on preferred communication element
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#530 Up versions now that 5.37.x is branched.
  .github/workflows/main.yml
Labels: 8.x/9.x

#533 D8/9 - Fix multiple file load on webform
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/AttachmentTest.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
Labels: 8.x/9.x, has test

#537 Store submitted data in webform_civicrm_submission table
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x

#509 Existing case not updated when contact is filled via autocomplete widget
  includes/wf_crm_webform_postprocess.inc
Labels: 7.x, bug

#535 D8/9 Fix loading issues on custom field edit/delete in core
  src/AdminForm.php
Labels: 8.x/9.x

#538 Populated search string into contact name field
  js/webform_civicrm_forms.js
Labels: 8.x/9.x, bug
