Repository colemanw/webform_civicrm, pull requests merged in 2021-08, with the labels that each got.

#589 Finish the firstpaytest
  tests/src/FunctionalJavascript/ContributionIatsTest.php
Labels: 8.x/9.x, has test

#591 D8/9 - Fix usage of webform_civicrm tokens in emails.
  src/Plugin/WebformElement/CivicrmContact.php
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
  webform_civicrm.module
Labels: bug, 8.x/9.x, has test

#585 D8/9 - Issues with Contact Element
  js/webform_civicrm_contact.js
  js/webform_civicrm_forms.js
  src/Plugin/WebformElement/CivicrmContact.php
  templates/webform-civicrm-contact.html.twig
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
  webform_civicrm.module
Labels: bug, 8.x/9.x, has test

#439 When is active is unchecked is_active is set to null string
  webform_civicrm.module
Labels: bug, 8.x/9.x, needs test, needs work

#593 D8/9 - Add test for dynamic custom fields
  src/AdminForm.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  webform_civicrm.module
Labels: 8.x/9.x, has test

#592 D8/9 - Fatal error on save draft
  src/WebformCivicrmPostProcess.php
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
Labels: bug, 8.x/9.x, has test

#587 Added SelectAll SelectNone feature in CiviCRM static options element
  css/webform_civicrm_options.css
  js/webform_civicrm_options.js
  src/Element/CivicrmSelectOptions.php
  webform_civicrm.libraries.yml
Labels: 8.x/9.x, needs test, needs work, user interface

#595 Use composer v2
  .github/workflows/main.yml
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x

#600 Remove 'select-all-civi-options' portion
  js/webform_civicrm_options.js
Labels: 8.x/9.x

#602 D8/9 - Fix case start date error
  src/Fields.php
  tests/src/FunctionalJavascript/CaseSubmissionTest.php
Labels: 8.x/9.x, has test

#603 D8/9 - Fix notice on php7.4
  src/AdminForm.php
Labels: bug, 8.x/9.x

#601 Check for empty fields.
  src/AdminForm.php
Labels: bug, 8.x/9.x

#598 D8/9 - Add test for dynamic custom fields
  src/AdminForm.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  webform_civicrm.module
Labels: 8.x/9.x, has test
