Repository colemanw/webform_civicrm, pull requests merged in 2021-06, with the labels that each got.

#553 Fix county selection.
  js/webform_civicrm_forms.js
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
Labels: 8.x/9.x, needs test

#555 fix checkbox element line item calculation
  js/webform_civicrm_payment.js
Labels: 7.x, bug

#560 [Test Only] D8/9 - Add test for radio and checkbox amount widget and address chromedriver 91 issues
  tests/src/FunctionalJavascript/CaseSubmissionTest.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#546 dedupe with postal address when sharing is enabled
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x

#544 D8/9 - Multi-record custom fields are recorded twice when contributions are enabled
  src/ContactComponent.php
  src/Plugin/WebformElement/CivicrmContact.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/MultiCustomFieldsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#563 Up CiviCRM rc to 5.39.
  .github/workflows/main.yml
Labels: 8.x/9.x

#561 D8/9 - Fix issues with 'Existing Contact' element
  js/webform_civicrm_contact.js
  js/webform_civicrm_forms.js
  src/Plugin/WebformElement/CivicrmContact.php
  src/WebformAjax.php
  src/WebformCivicrmPreProcess.php
  templates/webform-civicrm-contact.html.twig
  tests/src/FunctionalJavascript/CaseSubmissionTest.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/MultiCustomFieldsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#565 D8/9 - Move civi tab from inside 'Settings' to the top level
  webform_civicrm.links.task.yml
Labels: 8.x/9.x

#562 Fix for losing input and reverting to defaults between pages
  src/WebformCivicrmPreProcess.php
Labels: 8.x/9.x, needs test, needs work

#570 D8/9 - Add an option to disable contact paging
  src/AdminForm.php
  tests/src/FunctionalJavascript/ContributionDummyTest.php
Labels: 8.x/9.x, has test

#568 backport PR 546
  includes/wf_crm_webform_postprocess.inc
Labels: 7.x, port

#571 D8/9 - Fix amount calculation for radio_other widget
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
Labels: 8.x/9.x, bug, has test

#572 D8/9 - Fix test with drupal 9.2.x
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test

#564 D8/9 - Fix missing #options in civicrm_options element
  src/AdminForm.php
  src/Plugin/WebformElement/CivicrmOptions.php
  tests/src/FunctionalJavascript/CustomFieldSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, bug, has test

#573 D8/9 - Fix test with drupal 9.2.x
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x

#574 D8/9 - Fix incorrect validation error when non US country is selected
  src/Controller/AjaxController.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
Labels: 8.x/9.x, bug, has test
