Repository colemanw/webform_civicrm, pull requests merged in 2022-02, with the labels that each got.

#697 Using API params only
  .github/workflows/main.yml
  src/Utils.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: bug, 8.x/9.x, has test

#696 Adding test for ACHEFT - status should be Pending
  src/Utils.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContributionIatsTest.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: bug, 8.x/9.x, has test

#684 Add option for hiding full events
  src/AdminForm.php
  src/Utils.php
Labels: 8.x/9.x, needs test, improvement

#678 fix instance of format_plural
  src/WebformCivicrmPostProcess.php
Labels: bug, 8.x/9.x

#700 Update Testing Matrix
  .github/workflows/main.yml
Labels: 8.x/9.x, test only

#685 D8/9 - Allow loc types to be submitted as non primary from the webform
  src/AdminForm.php
  src/Fields.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/LocationTypeTest.php
Labels: 8.x/9.x, has test, KarinG, improvement

#687 D8/9 - Fix token to render contact name in webform email
  src/Plugin/WebformElement/CivicrmContact.php
  tests/src/FunctionalJavascript/ExistingContactElementTest.php
Labels: bug, 8.x/9.x, has test

#705 D8/9 - Add test for #684
  tests/src/FunctionalJavascript/EventTest.php
Labels: 8.x/9.x, test only

#704 Add Test for Custom Dedupe Rule:
  tests/src/FunctionalJavascript/ContactDedupeTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, test only

#707 Prepare for deprecated payment_status_id
  src/Utils.php
Labels: 8.x/9.x

#708 Record fee if available
  src/Utils.php
  tests/src/FunctionalJavascript/StripeTest.php
Labels: 8.x/9.x, needs test, improvement

#715 Make TextFormat the default widget for Activity Details.
  src/Fields.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, improvement

#716 Allow change label from field image_url
  src/AdminHelp.php
  src/Fields.php
  src/WebformCivicrmBase.php
  src/WebformCivicrmPostProcess.php
Labels: bug, 8.x/9.x
