Repository colemanw/webform_civicrm, pull requests merged in 2022-09, with the labels that each got.

#794 Update paylater test
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
Labels: test only

#792 D9 - Display status message for added field names
  src/AdminForm.php
  tests/src/FunctionalJavascript/SaveSettingsTest.php
Labels: bug, 8.x/9.x, has test

#796 D9 - Avoid sending recur fields for one time payments
  src/WebformCivicrmPostProcess.php
Labels: bug, 8.x/9.x

#750 Save webform submission after a payment processor redirection
  src/Plugin/WebformHandler/CivicrmWebformHandler.php
  src/WebformCivicrmConfirmForm.php
  src/WebformCivicrmConfirmFormInterface.php
  src/WebformCivicrmPostProcess.php
  webform_civicrm.services.yml
Labels: 8.x/9.x, improvement

#800 D9 - Financial Type ID submits the default value, not the selected one
  src/Plugin/WebformElement/CivicrmOptions.php
  tests/src/FunctionalJavascript/ContributionDummyTest.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: bug, 8.x/9.x, has test

#676 D8/9 - Fix recur payment via ipn processor
  src/WebformCivicrmPostProcess.php
Labels: bug, 8.x/9.x
