Repository colemanw/webform_civicrm, pull requests merged in 2022-12, with the labels that each got.

#811 Stripe now also requires Firewall extension.
  tests/src/FunctionalJavascript/StripeTest.php
Labels: 8.x/9.x, test only

#813 D9 - Replace state abbreviation with id on normal address state field
  js/webform_civicrm_forms.js
  src/Controller/AjaxController.php
  src/Utils.php
  src/UtilsInterface.php
  src/WebformCivicrmBase.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContactSubmissionTest.php
  tests/src/FunctionalJavascript/LocationTypeTest.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x, has test

#814 D9 - Add test to update contact details using checksum
  tests/modules/webform_civicrm_test/config/install/webform.webform.update_contact_details.yml
  tests/modules/webform_civicrm_test/webform_civicrm_test.info.yml
  tests/src/FunctionalJavascript/LocationTypeTest.php
Labels: 8.x/9.x, test only

#809 D9 - Fix ipn processor payment with billing fields
  src/WebformCivicrmPostProcess.php
Labels: bug, 8.x/9.x

#810 Retrieve event financial type id for line items
  src/WebformCivicrmPostProcess.php
Labels: 8.x/9.x, needs work

#816 D8/9 - Custom fields for participant role not available at page load
  js/webform_civicrm_admin.js
  src/AdminForm.php
Labels: bug, 8.x/9.x

#764 D8/9 - Load state and county as civicrm options instead of textfield
  js/webform_civicrm_forms.js
  src/Element/CivicrmSelectOptions.php
  src/FieldOptions.php
  src/Fields.php
  src/Plugin/WebformElement/CivicrmOptions.php
  src/Utils.php
  src/WebformCivicrmPreProcess.php
  tests/modules/webform_civicrm_test/config/install/webform.webform.update_contact_details.yml
  tests/src/FunctionalJavascript/LocationTypeTest.php
  webform_civicrm.install
  webform_civicrm.module
Labels: bug, 8.x/9.x, has test

#821 D8/9: make Contact selectable for Contributions Extend #758
  js/webform_civicrm_admin.js
  src/AdminHelp.php
  src/Fields.php
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/ContributionDummyTest.php
  webform_civicrm.install
Labels: 8.x/9.x, has test, improvement
