Repository colemanw/webform_civicrm, pull requests merged in 2022-10, with the labels that each got.

#802 D9 - Add test to verify Child tag submission
  tests/src/FunctionalJavascript/GroupsTagsSubmissionTest.php
Labels: 8.x/9.x, test only

#801 D9 - Avoid pay later option to be selected by default
  src/Element/CivicrmSelectOptions.php
Labels: bug, 8.x/9.x

#803 D9 Fix display of member name on line item table
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: bug, 8.x/9.x, has test

#806 github actions deprecations
  .github/workflows/main.yml
Labels: cool stuff, test only
