Repository colemanw/webform_civicrm, pull requests merged in 2023-05, with the labels that each got.

#815 D8/9 - Add same as checkbox for billing address
  js/webform_civicrm_admin.js
  js/webform_civicrm_forms.js
  src/AdminHelp.php
  src/Fields.php
  src/Utils.php
  src/WebformCivicrmPreProcess.php
  tests/src/FunctionalJavascript/ContributionDummyTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: 8.x/9.x, has test, improvement

#876 D9 - Fix Membership test failure on drupal v9.4
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x, test only

#875 D9 - Fix js validation on required checkbox fields
  js/webform_civicrm_forms.js
Labels: bug, 8.x/9.x

#839 D9 - Fix fatal error on single static option submission for Activity Type …
  README.md
  src/Utils.php
  tests/src/FunctionalJavascript/ActivitySubmissionTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: bug, 8.x/9.x, has test

#878 Adjust test for receipt subject line fix in core 5.63
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
Labels: test only

#807 D9 - Fatal error on billing address submission
  src/WebformCivicrmPostProcess.php
  tests/src/FunctionalJavascript/LocationTypeTest.php
Labels: bug, 8.x/9.x, has test
