Repository colemanw/webform_civicrm, pull requests merged in 2023-02, with the labels that each got.

#835 D9 - Fix fatal error when relationship filter is added on contact field
  src/ContactComponent.php
  tests/src/FunctionalJavascript/ContactRelationshipTest.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: bug, 8.x/9.x, has test

#843 remove wf_crm_state_abbr, now used only in tests
  src/Utils.php
  src/UtilsInterface.php
  tests/src/FunctionalJavascript/LocationTypeTest.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x

#740 D8/D9 - Javascript error causing form to not load properly: webformId.replace is not a function
  js/webform_civicrm_forms.js
Labels: bug, 8.x/9.x

#847 [test only] Make ckeditor work in drupal 10
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only

#848 [test only] Make expandy section expand in drupal 10
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only
