Repository colemanw/webform_civicrm, pull requests merged in 2023-01, with the labels that each got.

#824 missing `use` statement
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only

#823 Themes used in unit test are deprecated
  tests/src/FunctionalJavascript/CiviCrmTestBase.php
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only

#825 test improvement - avoid having to hunt in screenshots for the error
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only

#826 test improvement - store civi logs in artifacts
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only

#828 Update test matrix - Jan 2023
  .github/workflows/main.yml
Labels: 8.x/9.x, test only

#808 D9 - Default relationships list for sub type contacts doesn't populate
  src/Utils.php
  tests/src/FunctionalJavascript/ContactRelationshipTest.php
Labels: bug, 8.x/9.x, has test

#830 PHP8: Add NULL coalescing operator for relationship types
  src/Utils.php
Labels: 10.x

#831 (Regression) - Fix contact sub type custom field load
  src/AdminForm.php
Labels: bug, 8.x/9.x, needs test

#836 D9 - Update D7 code to add webform conditionals for subtype element
  src/AdminForm.php
  src/Fields.php
Labels: bug, 8.x/9.x
