Repository colemanw/webform_civicrm, pull requests merged in 2024-03, with the labels that each got.

#910 Fix for php8
  includes/contact_component.inc
Labels: 7.x

#952 D9 - Add Receive Date field to contribution tab
  src/AdminForm.php
  src/Fields.php
  tests/src/FunctionalJavascript/ContributionPayLaterTest.php
  tests/src/FunctionalJavascript/MembershipSubmissionTest.php
Labels: 8.x/9.x, has test, improvement

#957 [NFC] Deprecated call to FinancialAccount::add
  tests/src/FunctionalJavascript/WebformCivicrmTestBase.php
Labels: test only
